@{
  Layout = "_LoggedInLayout";
}

<nav>
  <ul>
    <li><a class="reports" asp-controller="Coordinator" asp-action="StartCoordinator">Start(Ärenden)</a></li>
    <li><a class="reportAdd" asp-controller="Coordinator" asp-action="ReportCrime">Rapportera brott</a></li>
    <li class="right"><a class="logout" asp-controller="Home" asp-action="Index">Logga ut</a></li>
  </ul>
</nav><!-- End Nav -->
    @RenderBody()
