@{
    Layout = "_LoggedInLayout";
    @*@model IEnvironmentRepository*@
    @model Errand
}
<body>
    <nav>
        <ul>
            <li><a class="reports" asp-controller="Investigator" asp-action="StartInvestigator">Start(Ärenden)</a></li>
            <li class="right"><a class="logout" asp-controller="Home" asp-action="Index">Logga ut</a></li>
        </ul>
    </nav><!-- End Nav -->

    <div id="content">
        <h2>Detaljer för ärendet</h2>
        <p class="info">Du är inloggad som handläggare</p>

        @await Component.InvokeAsync("CrimeErrand", ViewBag.ID)

    <section id="bottomColumn">
        <h3>Redigera ärende</h3>
        <p class="label">Händelser:</p>

        <form asp-controller="Investigator" asp-action="SaveInfoEntered" asp-route-id=@ViewBag.ID method="post" enctype="multipart/form-data" multiple>
          <textarea name="events" rows="5" cols="60"></textarea>

          <p class="label">Mer information:</p>
          <textarea name="information" rows="5" cols="60"></textarea>

          @*<form asp-controller="Invetigator" asp-action="UploadFiles" asp-route-id=@ViewBag.ID method="post" enctype="multipart/form-data" multiple>*@
          <p class="label">Prover:</p>
          <input type="file" name="loadSample" />

          <p class="label">Ladda upp bilder:</p>
          <input type="file" name="loadImage" />

          @*</form>*@
          <p class="label">Ändring av status:</p>

          @await Component.InvokeAsync("DropDown")

          <p>
            <input class="button" type="submit" value="Spara ändringarna" />
          </p>
        </form>
    </section>

        <footer>
            &copy; Småstads Kommun All rights reserved.
        </footer>
    </div><!-- End Content -->
</body>